body {
    background-color: blue;
    font-family:'Times New Roman', Times, serif
}

h1, ul {
    text-align: center;
}

.recipes {
    font-size: 30px;
    color: white;
}

.lasagna {
    background-color: red;
    color: yellow;
    font-size: 25px;
}